<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item>
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
        Início
      </a>
      <a mat-list-item>
        <mat-icon aria-hidden="false" aria-label="home icon"
          >storefront</mat-icon
        >
        Produtos
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
